body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 0px;
    background-color: #f2f2f2;
    color: #333;
}
header{
    padding : 20px;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
}
section{
    padding: 20px;
    margin : 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
ul{
    list-style: square;
    padding-left: 20px;
}
h2{
    color: blue;
}
footer{
    padding: 20px;
    background-color: #f2f2f2;
    color:#333;
    text-align: center;
}